{% extends 'special_equipment/base.html' %}
{% block content %}
    <div class="container py-3">
        <h1>Modeliai</h1>
        {% include 'special_equipment/includes/paginator_for_equipmentmodels.html' %}
        <div class="list-group my-3">
        {% for equipmentmodel in equipmentmodels %}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{% url 'equipmentmodelсurl' equipmentmodel.id %}">
        </a>
        {% endfor %}
        </div>
        {% include 'special_equipment/includes/paginator_for_equipmentmodels.html' %}
    </div>
{% endblock content %}

{% block title %} Modeliai | {{ block.super }}{% endblock title %}
