{% extends 'special_equipment/base.html' %}
{% block content %}
    <div class="container py-3">
        <h1>{{ equipmentmodel }}</h1>
        {% if equipmentmodel.description %}
        <p>{{ equipmentmodel.description }}</p>
        {% endif %}
        <h2>Turima įranga ir spec. priemonės</h2>
        <div class="list-group">
        {% for equipment in equipmentmodel.equipment_units.all %}
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="#">
                <span class="flex-grow-1">{{ equipment.model_name }}</span>
                <span class="badge badge-dark badge-pill ml-1">įrangos kiekis: {{ equipment.equipment_units.count }}</span>
                <span class="badge badge-success badge-pill ml-1">prieinamų: {{ equipment.get_available_units }}</span>
            </a>
        {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block title %}{{ author }} | {{ block.super }}{% endblock title %}
