{% extends 'special_equipment/base.html' %}
{% block content %}
    <div class="container py-3">
        <h2>Mano <a href="{% url 'equipmentmodelurl' object.equipment_model.id %}">{{ object.equipment_model }}</a> paimta priemonė</h2>
        <span>ID: {{ object.id }}</span>
        <div class="list-group">
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{% url 'my_equipment_cancellationurl' object.id %}">
                <span class="flex-grow-1">{{ object.equipment_model }}</span>
                <span class="badge badge-light badge-pill ml-1">{{ object.get_status_display }}</span>
                <span class="badge {% if object.after_returning_date %}badge-danger{% else %}badge-secondary{% endif %} badge-pill ml-1">grąžinti reikia: {{ object.returning_date }}</span>
            
        </div>
    </div>
{% endblock content %}
    
{% block title %}Mano paimtas {{ object.equipment_model }} | {{ block.super }}{% endblock title %}
